body{
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;
    overflow: scroll;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

header > p {
    margin-left: 2rem;
}

header > form{
    margin-right: 2rem;   
}

header > form > button{
    color: black;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
}

header > form > button:hover, #messages-wrapper > button:hover{
    background-color: rgb(39, 168, 248);
    color: white;
}

#messages-wrapper > button{
    color: black;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 2rem;
}

#messages-wrapper{
    display: flex;
    justify-content: flex-end;
}

.admin-nav-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-parent{
    width: 30%;
    display: flex;
    align-items: center;
}

.link-wrapper{
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

.posts-btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.collaborators-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active{
background-color: lightskyblue;
color: black;
}

.link-wrapper:hover{
    background-color: rgb(48, 172, 248);
    color: black;
}

#create-post-wrapper, #create-collaborator-wrapper{
    height: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
}

.create-button{
    color: black;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
}

.create-button > i{
    margin-right: 2px;
}

.create-button:hover{
    background-color: rgb(48, 172, 248);
    color: white;
}

/* vistor-view-post.php */
#visitor-view-main > h1, h4{
    text-transform: capitalize;
}

#visitor-view-main{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#visitor-back-button-form{
    padding: 2rem;
}

.post-panel-wrapper{
    margin-bottom: 1rem;
}

.post-panel-wrapper > button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.post-panel-wrapper > button:hover{
    background-color: lightskyblue;
}


/* admin-message */

#messages-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-wrapper{
    border: 1px solid white;
    border-radius: 5px;
    padding: 2rem;
    width: 80%;
}