        body{
            background-color: black;
            color: white;
            min-height: 400px;
            font-family: 'Trebuchet MS', sans-serif;
        }

        .topnav {
            background-color: lightskyblue;
            overflow: hidden;
            border-radius: 5px;
        }

        h1{
            padding-left: 15px; 
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 14px 16px;
            width: auto;
            text-decoration: none;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: rgb(64, 63, 63);
            color: white;
        }

        input[type=text],
        input[type=email],
        textarea {
            width: 100%;

            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical
        }

        input[type=submit] {
            background-color: lightblue;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: skyblue;
        }

        .container {
            border-radius: 5px;
            padding: 20px;
        }

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 200px;
        }
        div.galleryContainer {
            padding-left: 14px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.videoplay{
            padding: 14px; 
        }
        div.desc {
            padding: 15px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        div.solid img {
            width:400px;
            height:100px;
            object-fit:cover;
        }

        .about-box {
            float: left;
            width: 45%;
            padding: 40px;
            padding-left: 70px;
            padding-right: 70px;
            height: 475px;
            margin: 30px;
            margin-right: 30px;
            margin-bottom: 70px;
            border-radius: 25px;
            background-color: lightskyblue;
            color: black;
            line-height: 2;
        }

        /* Large profile image */
        .large-profile {
            background: url('../res/6.jpg');
            background-size: cover;
            background-position: center;
        }

        .column-4 {
            float: left;
            width: 21%;
            padding: 10px;
            margin: 20px;
            height: 250px;
        }

        .expertise-1 {
            border-radius: 50%;
            background-color:navy;
            
        }
        .expertise-1:hover {
            background: url('../res/app.webp');
            background-size: cover;
          }

        .expertise-2 {
            border-radius: 50%;
            background-color: rgb(139, 11, 11);
        }

        .expertise-2:hover {
            background: url('../res/web.jpg');
            background-size: cover;
          }

        .expertise-3 {
            border-radius: 50%;
            background-color: green;
        }

        .expertise-3:hover {
            background: url('../res/cyber.webp');
            background-size: cover;
          }

        .expertise-4 {
            border-radius: 50%;
            background-color: rgb(255, 123, 0);
        }

        .expertise-4:hover {
            background: url('../res/data.png');
            background-size: cover;
          }

        div.solid {
            border-style: solid;
            border-radius: 25px;
            padding: 14px 16px;
            margin: 30px;
            margin-right: 30px;
            margin-bottom: 5px;
            background-color: rgb(48, 46, 46);
        }

        .education-box {
            float: left;
            width: 50%;
            padding: 40px;
            padding-right: 70px;
            border-radius: 25px;
            height:450px;
            margin:30px;
            background-color:rgb(48, 46, 46);
           }

           .skills-box {
            float: left;
            width: 30%;
            padding: 40px;
            border-radius: 25px;
            padding-left:70px;
            padding-right: 70px;
            padding-bottom:60px;
            height:450px;
            margin:30px;
            margin-right:30px;
            background-color: rgb(48, 46, 46);
           }
           
           .btn {
            background-color: #ddd;
            border: none;
            color: black;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            transition: 0.3s;
          }
          
          

           .expertise-text {
            text-align:center;
            font-size:50px;
            font-family: 'Impact', sans-serif;
           }

           footer {
            position: fixed;
            left: 0;
            bottom: 0;
            padding-right: 10px;
            width: 100%;
            height:5%;
            color: white;
            text-align: right;
          }
           

          .table-style {border-style: solid;
            width:100%;
            border-spacing: 24px;
            border-color: white;
           }